@charset "UTF-8";

h1, h2 {
	margin-top: 5px;
	font-family: sans-serif;
}

#selectedOfferImage {
	height: 200px;
	margin-bottom: 25px;
}

.offersLayout {
	font-family: sans-serif;
	font-weight: bold;
}

.Obtn {
	border: none;
	padding: 7.5px;
	margin-bottom: 10px;
	width: 250px;
	background-color: rgba(30, 144, 255);
	color: white;
	font-size: 17.5px;
}

.Obtn:hover {
	background-color: black;
	color: white;
	width: 255px;
	height: 90px;
}